@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: disc; /* or 'initial' to use the browser default */
  padding-left: 1.25rem; /* ensure there's space for the bullets */
}
.custom-react-flag button {
    font-size: 15px !important;
    padding: 13px !important;
}