
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body { 
  color: #333333;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* TO REMOVE NAVIGATION IN NUMBER INPUT TYPE  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* TO DISABLE DIV  */
div[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

h1, h2 {
  @apply font-larken
}


.dangerous-html {
  @apply prose max-w-none 
}

.header {
  @apply text-xs 320:text-base 350:text-2xl sm:text-2xl md:text-4xl font-larken text-center
}


@media only screen and (hover: none) and (pointer: coarse) {

  /* input,
  select,
  textarea {
    font-size: 11px;
  } */

  input:focus,
  select:focus,
  textarea:focus {
    font-size: 16px;
  }
}

input:focus,
select:focus,
textarea:focus {
  font-size: 16px;
}


@font-face {
  font-family: 'KyivType Sans';
  src: url('../public/fonts/KyivTypeSans-Regular.eot');
  src: url('../public/fonts/KyivTypeSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/KyivTypeSans-Regular.woff2') format('woff2'),
      url('../public/fonts/KyivTypeSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larken DEMO';
  src: url('../public/fonts/LarkenDEMO-Regular.eot');
  src: url('../public/fonts/LarkenDEMO-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/LarkenDEMO-Regular.woff2') format('woff2'),
      url('../public/fonts/LarkenDEMO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

